body{
    background: url(../img/rtrwv.jpg);
    background-size: 100%;
}
header{
    /* background-color: blue; */
}
nav{
    /* background-color: blue; */
}
section{
    /* background-color: blue; */
}
article{
    /* background-color: blue; */
}
footer{
    background-color: blue;
}